#texto-h1-funcionarios {
    color:green;
    background-color: greenyellow;
    display: inline
}
#texto-h2-funcionarios {
    color:cornflowerblue;
    margin: 15px;
    margin-bottom: 15px;
    font-size: 32px;
}
