* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: mediumvioletred;
    height: 50px;
}

button {
    width: 40px;
    height: 20px;
    display: flex;
    position: relative;
    right: 15px;
    top: 15px;
}

.container {
    display: flex;
    width: 250px;
    height: 712px;
    background-color: #f2d0e0;
}

.lista-logos {
    display: flex;
    flex-direction: column;
    position: relative;
}

.lista-seta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 70px;
    bottom: 5px auto;
}

#lista-home {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#lista-produtos {
    display: flex;
    align-items: center;
}

#lista-carrinho {
    display: flex;
    align-items: center;
}

#lista-perfil {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px auto;
    position: relative;
    left: 100px;
}

section {
    margin: 5px auto;
    box-shadow: 1px 1px 3px darkgray;
    text-align: center;
    padding-right: px;
}

img {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

li {
    list-style-type: none;
    padding-top: 5px;
    padding-left: 5px;
}

footer {
    height: 45px;
    background-color: mediumvioletred;
    text-align: center;
    padding-top: 10px;
}